<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/cvdetail.css' />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/jsDic/ajax.js"></script>
    <title>简历详情</title>
</head>
<body>
    <div class="backSty">
        <h2>简历详情</h2>
        <b>姓名:</b><b></b>
        <b>手机号码:</b><b></b>
        <b>邮箱:</b><b></b>
        <b>年龄:</b><b></b>
        <b>学历:</b><b></b>
        <b>期望薪资:</b><b></b>
        <b>期望行业:</b><b></b>
        <b>工作年限</b><b></b>
        <p>教育经历:</p><b></b>
        <b>工作经历</b><b></b>
    </div>
    <script type="text/javascript">

    </script>
</body>
</html>