<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/joblist.css' />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/jsDic/ajax.js"></script>
    <title>简历处理</title>
</head>
<body>
<div>
    <table border="1" cellspacing="0" cellpadding="0" border-color="#999999"  id="main">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>号码</th>
            <th>申请职位</th>
            <th>申请公司</th>
            <th>申请时间</th>
            <th>当前状态</th>
            <th style="color: blue">查看简历</th>
            <th style="color: blue" colspan="2">简历处理</th>
        </tr>
    </table>
</div>
<script type="text/javascript">

</script>
</body>
</html>