<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/joblist.css' />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/jsDic/ajax.js"></script>
    <title>简历处理</title>
</head>
<body>
<div>
    <table border="1" cellspacing="0" cellpadding="0" border-color="#999999"  id="main">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>号码</th>
            <th>申请职位</th>
            <th>申请公司</th>
            <th>申请时间</th>
            <th>当前状态</th>
            <th style="color: blue">查看简历</th>
            <th style="color: blue" colspan="2">简历处理</th>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var json = '<%- JSON.stringify(obj)%>'
    var jsonArr = JSON.parse(json);
    var dataArr = handelData();
    var table = document.getElementById('main');
    var administratorId = '<%=administratorId%>';
    setHtml();
    addBtn();
    function handelData() {
        var newArr = new Array();
        for (var i =0; i <jsonArr.length;i ++){
            var liArr = new Array();
            var obj = jsonArr[i];
            liArr[0] = i;
            liArr[1] = obj.userName;
            liArr[2] = obj.phoneNum;
            liArr[3] = obj.jobName;
            liArr[4] = obj.companyName;
            liArr[5] = obj.createdAt;
            liArr[6] = obj.intentionStatus=='已申请'?'等待处理':obj.intentionStatus;
            liArr[7] = '点击查看';
            liArr[8] = obj.intentionStatus=='已申请'?'邀请面试':'再次邀请';
            liArr[9] = obj.intentionStatus=='已申请'?'拒绝':'';
            newArr.push(liArr);
        }
        return newArr;
    }

    function setHtml() {
        for (var i =0;i < dataArr.length; i++){
            var tr_ = document.createElement('tr')
            for(var j=0; j<dataArr[i].length;j ++){
                var td_ = document.createElement('td');
                td_.innerHTML = dataArr[i][j];
                td_.setAttribute('id',dataArr[i][0]);
                td_.style.padding = '5px'
                if(j == dataArr[i].length -4){
                    classFromStatus(td_,jsonArr[i].intentionStatus_Int,0);
                }
                if(j == dataArr[i].length -1){//拒绝
                    td_.onclick = function () {

                    }
                }else if(j ==dataArr[i].length -2){//邀请
                    td_.onclick = function () {
                        console.log(this)
                        var obj = jsonArr[this.id];
                        ajax({
                            method:'POST',
                            url:'http://localhost:3000/apply/orderStatus',
                            data:{
                                orderId:obj.orderId,
                                intentionStatus:2,
                                administratorId:administratorId
                            },
                            success:function (res) {
                                var obj = JSON.parse(res);
                                if(obj.code ==0){
                                    location.reload(true);
                                }else {
                                    alert(obj.msg)
                                }
                            }
                        })
                    }
                }

                tr_.appendChild(td_);
            }
            table.appendChild(tr_);
        }
    }
    /*转化class mhtml:元素  status:状态 type:0:当前状态1:简历处理(1) 2:简历处理(2)*/
    function classFromStatus(mhtml,status,type) {
       if(type ==0){
           var statusObj = ['','等待处理','已邀请面试','已面试','简历被拒绝','放弃面试'];
           var classArr = ['black','green','green','blue','red','red'];
           mhtml.innerHTML = statusObj[status];
           mhtml.style.color = classArr[status];
       }else if(type ==1){
           var statusObj = ['','邀请面试','再次邀请','已面试','简历被拒绝','放弃面试'];
           var classArr = ['black','green','yellow','blue','red','red'];
           mhtml.innerHTML = statusObj[status];
           mhtml.style.color = classArr[status];
       }else {

       }
    }
//    function statusFormStr(str) {
//        var statusObj = ['立即申请','已申请','已邀请面试','已面试','没有获得面试机会','放弃面试'];
//
//    }

    function addBtn() {
        if(dataArr.length == 0){
            var lastUL = document.createElement('tr');
            var addBtn = document.createElement('td');
            addBtn.setAttribute('id','123');
            addBtn.setAttribute('style','text-align: center');
            addBtn.setAttribute('colspan','10')
            addBtn.style.backgroundColor = 'green'
            addBtn.innerHTML  = '(您还任何简历,赶快去邀请小伙伴们使用吧)'
            lastUL.appendChild(addBtn)
            table.appendChild(lastUL);
        }
    }

</script>
</body>
</html>