<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/joblist.css' />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/jsDic/ajax.js"></script>
    <title>职位管理</title>
</head>
<body>
<div>
  <table border="1" cellspacing="0" cellpadding="0" border-color="#999999"  id="main">
      <tr>
          <th>编号</th>
          <th>职位</th>
          <th>公司</th>
          <th>薪资</th>
          <th>发布时间</th>
          <th style="color: blue">编辑</th>
          <th style="color: red">删除</th>
      </tr>
  </table>
</div>
<script type="text/javascript">
    var json = '<%- JSON.stringify(obj)%>'
    var jsonArr = JSON.parse(json);
    var dataArr = handelData();
    var table = document.getElementById('main');
    setHtml();
    addBtn();
    function handelData() {
        var newArr = new Array();
        for (var i =0; i <jsonArr.length;i ++){
            var liArr = new Array();
            var obj = jsonArr[i];
            liArr[0] = i;
            liArr[1] = obj.jobName;
            liArr[2] = obj.companyName;
            liArr[3] = obj.salary;
            liArr[4] = obj.createdAt;
            liArr[5] = '修改职位';
            liArr[6] = '删除该职位';
            newArr.push(liArr);
        }
        return newArr;
    }
    function setHtml() {
        for (var i =0;i < dataArr.length; i++){
            var tr_ = document.createElement('tr')
            for(var j=0; j<dataArr[i].length;j ++){
                var td_ = document.createElement('td');
                td_.innerHTML = dataArr[i][j];
                td_.setAttribute('id',dataArr[i][0]);
                td_.style.padding = '5px';
                if(j ==dataArr[i].length -1 || j ==dataArr[i].length -2)
                td_.onclick = function () {
                    var data = {
                        administratorId:'123',
                        jobId:jsonArr[this.id].jobId
                    }
                    var jsonStr = JSON.stringify(data);
                    window.location.href = 'http://localhost:3000/admin/jobs?data='+jsonStr;
                }
                tr_.appendChild(td_);
            }
            table.appendChild(tr_);
        }
    }
    function addBtn() {
        var lastUL = document.createElement('tr');
        var addBtn = document.createElement('td');
        addBtn.setAttribute('id','123');
        addBtn.setAttribute('style','text-align: center');
        addBtn.setAttribute('colspan','6')
        var addStr = '立即添加'
        if(dataArr.length == 0){
            addStr = '(您还没有添加任何职位,点击立即添加)'
        }
        addBtn.innerHTML = addStr;
        lastUL.appendChild(addBtn)
        lastUL.onclick = function () {
            window.location.href = 'http://localhost:3000/admin/jobs'
        }
        table.appendChild(lastUL);
    }

    function editJob() {
        //.这里可以直接传参到job页面
        window.location.href = 'http://localhost:3000/admin/jobs'
    }

    function delegateJob() {
        ajax({
            method:'POST',
            url:'http://localhost:3000/account/Login',
            data:{
                phoneNum:'13095515908',
                psd:'123456'
            },
            success:function (res) {
                console.log(res)
            }
        })
    }
   
</script>

</body>
</html>