<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/jobs.css' />
    <title>Title</title>
</head>
<body>
<div>
    <div class="cellBackSty">
        <b class="titleSty">公司名称</b>
        <input type="text" placeholder="请输入公司名称"/>
    </div>
    <div class="cellBackSty">
        <p>公司描述</p>
        <textarea  placeholder="请输入公司简介"></textarea>
    </div>
    <div class="cellBackSty">
        <b class="titleSty">职位名称</b>
        <input type="text" placeholder="请输入职位名称"/>
    </div>
    <div class="cellBackSty">
        <p>职位描述</p>
        <textarea  placeholder="请输入职位描述"></textarea>
    </div>
    <div class="cellBackSty">
        <b class="titleSty">最低学历要求</b>
        <input type="text" placeholder="请输入最低学历要求"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty">公司地址</b>
        <input type="text" placeholder="请输入公司地址"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty">工作地点</b>
        <input type="text" placeholder="请输入作地点"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty">面试地点</b>
        <input type="text" placeholder="请输入面试地点"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty">薪资范围</b>
        <input type="text" placeholder="请输入薪资范围"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty">公司福利</b>
        <input type="text" placeholder="请输入公司福利"/>
    </div>
    <button>提交</button>
</div>

</body>
</html>