<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/jobs.css' />
    <title>Title</title>
    <script type="text/javascript">
        var json = '<%-JSON.stringify(obj)%>';
        var jsonDic = JSON.parse(json);

        var dataArr = [];
        dataArr[10] = '';
        function handelData() {
            dataArr[0] = jsonDic.companyName;
            dataArr[1] = jsonDic.companyDescrie;
            dataArr[2] = jsonDic.jobName;
            dataArr[3] = jsonDic.jobDescribe;
            dataArr[4] = jsonDic.minEducation;
            dataArr[5] = jsonDic.workAddress;
            dataArr[6] = jsonDic.workAddress;
            dataArr[7] = jsonDic.interViewAddress;
            dataArr[8] = jsonDic.salary;
            dataArr[9] = jsonDic.wellArr;
            for(var i = 1; i <=9;i ++){
                var input_ = document.getElementById(i);
                input_.value = dataArr[i -1];
            }
        }
        function endEdit(e,index) {
            if(e && e.length >0){
                classChanged(index,true)
            }else {
                classChanged(index,false)
            }
            dataArr[index -1] = e;
        }
        function classChanged(index,IsAdjective) {
            var title = document.getElementById(index);
            title.style.color = IsAdjective?'green':'red';
        }

        function subMit() {
            for(var i=0;i <dataArr.length -1;i ++){
                if(!dataArr[i]){
                    var title = document.getElementById(i +1);
                    var str = title.innerHTML;
                    str = str.substring(0,str.length -3);
                    alert(str+'不能为空')
                    break;
                    return;
                }
            }
        }
    </script>
</head>
<body>
<h1>职位管理</h1>

<div>
    <div class="cellBackSty">
        <b class="titleSty" id="1">公司名称:  </b>
        <input type="text" placeholder="请输入公司名称" onblur="endEdit(this.value,1)"/>
    </div>
    <div class="cellBackSty">
        <p class="titleSty" id="2">公司描述:  </p>
        <textarea class="textAreSty"  placeholder="请输入公司简介" onblur="endEdit(this.value,2)"></textarea>
    </div>
    <div class="cellBackSty">
        <b class="titleSty" id="3">职位名称:  </b>
        <input type="text" placeholder="请输入职位名称" onblur="endEdit(this.value,3)"/>
    </div>
    <div class="cellBackSty">
        <p class="titleSty" id="4">职位描述:  </p>
        <textarea class="textAreSty" placeholder="请输入职位描述" onblur="endEdit(this.value,4)"></textarea>
    </div>
    <div class="cellBackSty">
        <b class="titleSty" id="5">最低学历要求:  </b>
        <input type="text" placeholder="请输入最低学历要求" onblur="endEdit(this.value,5)"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty" id="6">公司地址:  </b>
        <input type="text" placeholder="请输入公司地址" onblur="endEdit(this.value,6)"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty" id="7">工作地点:  </b>
        <input type="text" placeholder="请输入作地点" onblur="endEdit(this.value,7)"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty" id="8">面试地点:  </b>
        <input type="text" placeholder="请输入面试地点" onblur="endEdit(this.value,8)"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty" id="9">薪资范围:  </b>
        <input type="text" placeholder="请输入薪资范围" onblur="endEdit(this.value,9)"/>
    </div>
    <div class="cellBackSty">
        <b class="titleSty" id="10">公司福利:  </b>
        <input type="text" placeholder="请输入公司福利" onblur="endEdit(this.value,10)"/>
    </div>
    <button style="font-size: 24px;margin-left: 100px;margin-top: 20px;" onclick="subMit()">提交</button>
</div>

</body>
</html>