<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet', href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <script src="/jsDic/ajax.js"></script>
    <title>登录</title>
    <script type="text/javascript">

        //  var util = require('../routes/util')
        function login() {
            var phoneNum = document.getElementById('phoneNum').value;
            var  psd = document.getElementById('psd').value;
            var alertStr = '';
            if(!phoneNum || phoneNum.length == 0){
                alertStr = '请输入手机号码'
            }else if(phoneNum.length != 11){
                alertStr = '请输入正确的手机号码'
            }else if(!psd || psd.length == 0){
                alertStr = '请输入密码'
            }
            if(alertStr.length > 0){
                alert(alertStr);
                return;
            }
            ajax({
                method:'POST',
                url: baseUrl+'account/adminLogin',
                data:{
                    phoneNum:phoneNum,
                    psd:psd
                },
                success:function (res) {
                    var obj = JSON.parse(res);
                    if (obj.code == 0 && obj.data){
                        console.log('登录成功')
                        var administratorId = obj.data.administratorId;
                        window.location.href = baseUrl+'admin/main?administratorId=' +administratorId;
                    }else {
                        alert(obj.msg)
                    }
                }
            })
        }
    </script>
</head>
<body>
<h1 class="titleSty">欢迎进入蜜蜂直聘后台管理系统</h1>
<div class="inputBackSty">
    <img src="/resources/img/icon.jpeg" class="iconSty"/>
</div>
<div class="inputBackSty" style="margin-top: 30px">
    <!--<img src="/resources/img/signin_account_press@2x.png" class="leftImgSty"/>-->
    <input class="inputSty" placeholder="请输入账号" id="phoneNum" type="text"/>
</div>
<div class="inputBackSty" style="margin-top: 10px">
    <!--<img src="/resources/img/signin_password_press@2x.png" class="leftImgSty"/>-->
    <input class="inputSty" placeholder="请输入密码" id="psd" type="password"/>
</div>
<div class="inputBackSty" style="margin-top: 40px">
    <button onclick="login()" class="submit BtnSty">提交</button>
</div>
<div class="inputBackSty">
    <p style="position:fixed;bottom:5px;width: 100%" class="copyRightSty">©安徽金蜜蜂人力资源有限公司所有</p>
</div>

</body>
</html>