<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/main.css' />
    <script src="/jsDic/ajax.js"></script>
    <title>首页</title>
</head>
<body>
<nav>
    <b style="background-color: #00d6b2;width: 60px;height: 30px;color: white;font-size: 18px" onclick="backLogin()">返回登录</b>
</nav>
<h1 class="h1titleSty"><%=name%>  欢迎您进入蜜蜂直聘管理系统</h1>
<div class="backSty">
    <div class="cellBackSty" onclick="singTap(0)">
        <p class="bigTitleSty">职位管理</p>
        <p class="titleSty">添加/删除/编辑您的职位</p>
    </div>
    <div class="cellBackSty" onclick="singTap(1)">
        <p class="bigTitleSty">简历处理</p>
        <p class="titleSty">早日处理您的简历,别让用户久等</p>
    </div>
    <div class="cellBackSty" onclick="singTap(4)">
        <p class="bigTitleSty">我的用户</p>
        <p class="titleSty">你的所有用户信息</p>
    </div>
    <div class="cellBackSty" onclick="singTap(5)">
        <p class="bigTitleSty">服务设置</p>
        <p class="titleSty">设置您的联系方式</p>
    </div>
    <div class="cellBackSty" onclick="singTap(6)">
        <p class="bigTitleSty">管理员码</p>
        <p class="titleSty">获取专属于您的管理员二维码</p>
    </div>
    <div class="cellBackSty" onclick="singTap(2)" id="superAdmin">
        <p class="bigTitleSty">管理员管理</p>
        <p class="titleSty">添加/删除管理员</p>
    </div>
    <div class="cellBackSty" onclick="singTap(3)" id="config">
        <p class="bigTitleSty">配置设置</p>
        <p class="titleSty">添加/修改配置</p>
    </div>

</div>
<script>

    var admin_id = '<%-adminId %>'
    if(admin_id != 'superAdminister'){
       var adminView = document.getElementById('superAdmin');
        var configView = document.getElementById('config');
        adminView.style.display = 'none'
        configView.style.display = 'none'
    }
    function singTap(index) {
        if(index ==0){
            window.location.href = baseUrl+'admin/joblist?administratorId='+admin_id
        }else if(index ==1){
            window.location.href = baseUrl+'admin/handleCV?administratorId='+admin_id
        }else if(index ==2){
            window.location.href = baseUrl+'admin/setAdmin?administratorId='+admin_id
        }else if(index ==3){
            window.location.href = baseUrl+'admin/config?administratorId='+admin_id
        }else  if(index ==5){
            window.location.href = baseUrl+'admin/servePhoneSetting?administratorId='+admin_id
        }else  if(index ==6){
            window.location.href = baseUrl+'admin/getAdminQrCodeImg?administratorId='+admin_id
        }else {
            alert('暂未开放')
           // window.location.href = baseUrl+'admin/config?administratorId='+admin_id
        }
    }

    function backLogin() {
        window.location.href = baseUrl+'admin/login'
    }
</script>
</body>
</html>