<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/jsDic/ajax.js"></script>
    <title>web_one</title>
</head>
<body>
 <p>这是H5_one</p>
 <button onclick="pushNative()">跳转至原生界面two</button>
 <button onclick="pushNative_web()">跳转至原生webVC</button>
 <button onclick="pushH5()">跳转至H5界面</button>
</body>
<script type="text/javascript">
    function pushNative() {
        window.location.href = baseUrl+'admin/web_two?'
    }
    function pushNative_web() {
        window.location.href = baseUrl+'admin/web_two?'
    }
    function pushH5() {
        window.location.href = baseUrl+'admin/web_two'
    }
</script>
</html>