<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/jsDic/ajax.js"></script>
    <title>web_one</title>
</head>
<body>
 <p>这是H5_one</p>
 <p>h5</p>
 <p>h5</p>
 <p>h5</p>
 <button onclick="pushNative()" style="font-size: 30px">跳转至原生界面two</button>
 <button onclick="pushNative_web()" style="font-size: 30px">跳转至原生webVC</button>
 <button onclick="pushH5()" style="font-size: 30px">跳转至H5界面</button>
 <script type="text/javascript">
     function pushNative() {

         window.location.href = baseUrl+'admin/web_two?option=' +'native_two#0'
     }
     function pushNative_web() {

         window.location.href = baseUrl+'admin/web_two?option=' +'web_one#1#webVC跳转至原生'
     }
     function pushH5() {
         window.location.href = baseUrl+'admin/web_two'
     }
 </script>
</body>
</html>