<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/jsDic/ajax.js"></script>
    <title>Title</title>
</head>
<body>
<p style="font-size: 35px;color: red">这是H5界面two</p>
<button style="color: blueviolet;font-size: 35px" onclick="getList()">点击获取通讯录</button>
<b style="color: green;font-size: 40px" id="getTitle">接收来自客户端的传值/回调值</b>
<script type="text/javascript">
    function getList() {
        window.webkit.messageHandlers.getFriends.postMessage('获取客户端通讯录')
    }


    function shareResult(title,content) {
        var div = document.getElementById('getTitle');
        div.innerHTML = title+'___'+content;
    }
    
    function getUserMoible(alertStr) {
        alert(alertStr)
    }

     //客户端首先调用你的函数 并将参数传给你 你收到客户端的调用后 调用客户端的函数 将参数回传给客户端
     function nativeUserFun(option) {//option是客户端传给你的参数
         //这里可以对option进行判断
         var callBackValue = '你回传给客户端的参数'
         window.webkit.messageHandlers.AppModel.postMessage(callBackValue)
     }


</script>
</body>
</html>