<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet', href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <script type="text/javascript">
        function login() {
            var phoneNum = document.getElementById('psd')
            alert(phoneNum.value)
        }
    </script>
</head>
<body>
<h1 class="titleSty">欢迎进入蜜蜂直聘后台管理系统</h1>
<div class="inputBackSty" style="margin-top: 30px">
    <img src="http://pic1.16pic.com/00/07/65/16pic_765267_b.jpg" class="leftImgSty"/>
    <input class="inputSty" placeholder="请输入账号" id="phoneNum" type="text"/>
</div>
<div class="inputBackSty" style="margin-top: 10px">
    <img src="http://pic1.16pic.com/00/07/65/16pic_765267_b.jpg" class="leftImgSty"/>
    <input class="inputSty" placeholder="请输入密码" id="psd" type="password"/>
</div>
<div class="inputBackSty" style="margin-top: 40px">
    <button onclick="login()" class="submitBtnSty">提交</button>
</div>
<div class="inputBackSty">
    <p style="position:fixed;bottom:5px;width: 100%" class="copyRightSty">©安徽金蜜蜂人力资源有限公司所有</p>
</div>

</body>
</html>