

body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    list-style: none;
}

.backSty{
    display: flex;
    flex-direction: column;
}

b{
    color: red;
}

.iconSty{
    width: 150px;
    height: 150px;
}