body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cellBackSty{
    margin-left: 50px;
    margin-top: 20px;
    align-items: center;
}

.titleSty{
    color: red;
    font-size: 16px;
}

.inputSty{
    margin-left: 20px;
    font-size: 18px;
    width: 150px;
    height: 24px;
}

.textAreSty{
    width: 400px;
    height: 200px;
    font-size: 15px;
}

.imgSty{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.wellArrDivSty{
    width: 400px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    /*justify-content: space-between;*/
}