body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #999999;
}

.inputBackSty{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.titleSty{
  text-align: center;
  font-size: 36px;
  color: #db8621;
}

.leftImgSty{
  width: 32px;
  height:40px;
  margin-right: 10px;
}


.submitBtnSty{
  width: 100px;
  height: 40px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: blueviolet;
  background-color: darkorange;
}

.inputSty{
  font-size: 17px;
}

.copyRightSty{
  text-align: center;
  font-size: 12px;
  color: #999999;
}

.iconSty{
  width: 100px;
  height: 100px;
}